@import "../variables";

#offcanvas {
  margin-top: 45px;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  overflow-x: hidden;
  transition: 0.5s;
  ul {
    display: flex;
    flex-direction: column;
    padding: 10px;
    li {
      border-bottom: $border;
      margin-bottom: 10px;
      a {
        width: 100%;
        font-size: medium;
        padding-left: 20px;
      }
    }
  }
}
