@use "components/offcanvas";
@use "components/header";
@use "font-faces";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: white;
  user-select: none;
}

body {
  font-family: "Open Sans", Arial, sans-serif;
  transition: 0.5s;
}
